body {
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}

img {
  image-rendering: pixelated;   /* modern way */
  image-rendering: crisp-edges; /* fallback for some browsers */
}


.fullWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hoverGrow:hover {
      transform: scale(1.1); /* change the property on hover */
    }

main {
    flex: 1;
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#videoPreview {
    max-height: 50%;
    display: none;
}