body {
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}

img {
  image-rendering: pixelated;   /* modern way */
  image-rendering: crisp-edges; /* fallback for some browsers */
}


.fullWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    flex: 1;
}