@property --fill {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

body {
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}

img {
  image-rendering: pixelated;   /* modern way */
  image-rendering: crisp-edges; /* fallback for some browsers */
}


.fullWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hoverGrow:hover {
      transform: scale(1.1); /* change the property on hover */
    }

main {
    flex: 1;
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader {
    position: absolute;
    top: 10%;
    left : 35%;
    width: 30%;
    height: calc(30cqw * (363/1450));
    display: none;
}

#loadFill {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--fill) * 100%);
    height: 100%;
    background: green;
    
    /*z-index: -1;*/
    mask-size: calc(100% / var(--fill)) 100%;
    mask-image: url("images/loadingPlaceholderBlack.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    transition: --fill 0.2s linear;
}

#videoPreview {
    max-height: 50%;
    display: none;
    border: 0.3vmin solid #fff;
}