@property --fill {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  font-size: 1.5vmin;
  font-family: 'Comic Sans MS';
}

body {
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
    font-family: 'Comic Sans MS';
}

img {
  image-rendering: pixelated;   /* modern way */
  image-rendering: crisp-edges; /* fallback for some browsers */
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fillBottom {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 50%;
}

.fillLeft {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}

.hoverGrow:hover {
    transform: scale(1.1); /* change the property on hover */
}

/*
.videoEditor {
    display: none;
}
*/

#videoUploadLabel {
    width: 75vmin;
}

#loader {
    position: absolute;
    top: 10%;
    left : 35%;
    width: 30%;
    height: calc(30cqw * (363/1450));
    display: none;
}

#loadFill {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--fill) * 100%);
    height: 100%;
    background: green;
    
    /*z-index: -1;*/
    mask-size: calc(100% / var(--fill)) 100%;
    mask-image: url("images/loadingPlaceholderBlack.png");
    mask-mode: alpha;
    mask-repeat: no-repeat;
    transition: --fill 0.2s linear;
}

#videoDiv {
    position: relative;
    display: none; 
    /*background: blue;*/
}

#videoOptionsDiv {
    display: none;
    /*
    flex-direction: column;
    align-items: center;
    */
    position: absolute;
    left: 0;
    top: 20%;
    width: 25%;
    height: 60%;
    /*background: blue;*/
}

#videoPreview {
    /*display: none;*/
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    object-fit: fill;
    /*max-height: 50%;*/
    outline: 0.2vw solid #fff;
}

#videoWidth {
    display: none;
    position: absolute;
    left: 20%;
    top: 0;
    width: 60%;
    height: 20%;
    /*background: red;*/ 
}

#videoHeight {
    display: none;
    position: absolute;
    top: 20%;
    right: 0;
    width: 20%;
    height: 60%;
    /*background: red;*/ 
}


#videoWidthInput {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 10%;
    height: 25%;
    /*min-width: 1.5vw;
    min-height: 0.8vw;*/
    z-index: 1;
}

#videoHeightInput {
    position: absolute;
    top: 46%;
    left: 55%;
    width: 30%;
    height: 8%;
    /*min-width: 1.5vw;
    min-height: 0.8vw;*/
    z-index: 1;
}

#frameRateCanvas {
    width: 70%;
}